{% extends 'base_user.html.twig' %}

{% block title %}Catalogue{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            {% if is_granted('ROLE_BF')%}
            <a href="/catalogue/new"><i class="fa-solid fa-plus align-left"></i></a>
            {% endif %}
            
            <p class="display-6 no-wrap text-center mb-5">Catalogue des formations <a href="/catalogue/new"><i class="fa-solid fa-plus align-left"></i></a></p>

             <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <table class="table table-striped">
                                
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
               
                {% for formation in formations %} 
                <tr>
                    <th>{{formation.getName()}}</th>
                    <th>{{formation.getDescription()}}</th>
                    <th>{%if formation.getDuration() is null %}0 {% else %} {{formation.getDuration().format("H:i:s")}} {% endif %}</th>
                    <th><a href="/catalogue/show/{{formation.getId()}}"><i class="fa-solid fa-eye"></i></i></a></th> 
               </tr> {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
