{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="table"> Catalogue</p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Durée</th>
                    <th scope="col">Voir plus</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for formation in formations %} 
                <tr>
                    <th>{{formation.getName()}}</th>
                    <th>{{formation.getDescription()}}</th>
                    <th>{{formation.getDuration().format("H:i:s")}}</th>
                    <th><a href="/catalogue/show/{{formation.id}}"><i class="fa-solid fa-eye"></i></i></a></th>  <!--A modife pas definitif-->
               </tr> {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
