{% extends 'base_user.html.twig' %}

{% block title %}Liste équipes élus{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div class="corps mx-auto">

            <a href="/equipeElu/new"><i class="fa-solid fa-plus align-right"></i></i></i></a>

            <p class="table">Liste des équipes d'élus</p>

            <table class="table table-striped">
                
                
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Catégorie</th>
                    <th scope="col">Etablissement</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for equipeElu in equipeElus %} 
                    <tr>
                        <th>{{equipeElu.getName()}}</th>
                        <th>{{equipeElu.getCategorie()}}</th>
                        <th>{{equipeElu.getEtablissement()}}</th>
                        <th><a href="/equipeElu/show/{{equipeElu.getId()}}"><i class="fa-solid fa-eye"></i></i></a></th> 
                     </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
