<h1>Bonjour,</h1>

<p>Votre espace trésorerie vient d'être créé sur le logiciel Merer de la ******, pour créer votre mot de passe, veuillez cliquer sur le lien ci-dessous.</p>

<a href='{{ url('passwordForgotapp_reset_password', {token: resetToken.token}) }}'>{{ url('passwordForgotapp_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>


