{% extends 'base_user.html.twig' %}

{% block title %}mention légale{% endblock %}

{% block body %}
 <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">

			 <p class="display-6 no-wrap text-center">Mention Légale</p>

            <div>
                <h4>
                    Editeur
                </h4>
                <p>
                    Le site Merer est édité par Morgan Diverrez,<br>
                    n° de&nbsp;SIREN : 948 900 022 00013.<br>
                </p> 
                <h4>Hébergement</h4>
                <p>
                    L’hébergement du site est assuré par l’entreprise Amazon.
                </p>
                <h4>Objectif et qualité des contenus</h4>
                <p>
                    Ce site a pour objectif d'aider à la gestion du système de formation et de comptabilité d'une fédération d'association étudiante.
                </p>
                <h4>Utilisation de la marque Merer</h4>
                <p>

                    Les marques verbales et visuelles (logo) Merer et d'une façon générale le contenu du site sont protégés.
                </p>
                <h4>Règlement Général sur la Protection des Données</h4>
                <p>
                    L’éditeur du site s’engage à respecter la règlementation en vigueur applicable au traitement des données à caractère personnel 
                    et en particulier au règlement 2016/679 du Parlement européen et du Conseil du 27 avril 2016.
                    <br>
                    Dans ce cadre l’éditeur s’assure de la traçabilité des données personnelles collectées sur le site, 
                    de leur protection et de leur sécurisation. Il s’engage à traiter les données uniquement pour la ou les seules finalités du site. 
                    Il garantit la confidentialité des données et veille à ce que les personnes autorisées à traiter ces données 
                    s’engagent à respecter la confidentialité et reçoivent la formation nécessaire en matière de protection des données à caractère personnel.
                    <br>
                    <a href="/download/politique_confidentialite" target="_blank">Lien vers la politique de confidentialité.</a>
                </p>
                <h4>Contact</h4>
                <p>
                    Pour toute question, demande de suppression de compte, contactez-nous à l'adresse mail suivante : contact@*****.net</p>
            </div>
		</div>
	</div>
</div>
{% endblock %}