{% extends 'base_user.html.twig' %}

{% block title %}Validation enregistrement{% endblock %}

{% block body %}
    <div class="container-lg text-center">
        <p class="display-6 no-wrap text-center"> Impression enregistrée  </p>
        <a class="btn btn-primary" href="/impression/new">Nouvelle impression</a>  
    </div>

{% endblock %}

