{% extends 'base_user.html.twig' %}

{% block title %}Validation enregistrement{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center"> Impression enregistrée <br><a class="btn btn-primary" href="/impression/new">Nouvelle impression</a> </p>
        </div>
    </div>

{% endblock %}

