{% extends 'base_email.html.twig' %}

{% block body %}
<p>Bonjour,</p>

<p>Votre notes de frais viens d'être comfirmé, votre remboursement sera fait dès que possible.</p>

<p>Lien pour vous connecter à la plateforme Merer <a href="https://15.236.191.187/">Merer - ******</a>.</p>
{% endblock %}