{% extends 'base_email.html.twig' %}

{% block body %}
<p>Bonjour,</p>

<p>Vous avez était inscrit comme formateurice pour la seance {{seance.getName()}} La séance aura lieu le  {% if seance.getDateTime() is null %} - {% else %} {{seance.getDatetime().format("d/m/Y H:i")}} {% endif %}.</p>
<p> vous pouvez voir les détails de la séance en vous connectant à la plateforme <a href="https://15.236.191.187/seance/showForFormateurice/{{seance.getId()}}"> Merer</a>.</p>

<p>Lien pour vous connecter à la plateforme Merer <a href="https://15.236.191.187/">Merer - Fédé B</a>.</p>
{% endblock %}