{% extends 'base_email.html.twig' %}

{% block body %}
<p>Bonjour,</p>

<p>Une nouvelle facture est disponible sur votre espace client.</p>
<p> N'oubliez pas de vous connecter avec vos indentifiants clients.</p>
<p>Lien pour vous connecter à la plateforme Merer <a href="https://15.236.191.187/">Merer - ******</a>.</p>
{% endblock %}