{# templates/emails/signup.html.twig #}
<h1>Bonjour</h1>

<p>
    Cet email confirme ton inscription sur la plateforme de gestion des formations de la ******
</p>


<p>
    <a href="https://15.236.191.187/account/edit">tu peux donc remplir ton profil</a>
    
</p>