{# templates/emails/signup.html.twig #}
<h1>Bonjour</h1>

<p>
    Cet email confirme ton inscription sur la plateforme de gestion des formations de la Fédé B
</p>


<p>
    <a href="/profil/edit">tu peux donc remplir ton profil</a>
    
</p>