{% extends 'base_user.html.twig' %}

{% block title %}Liste Lieux{% endblock %}





{% block body %}
   <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="table"> Liste des lieux</p>
            <a href="/lieux/new"><i class="fa-solid fa-plus align-right"></i></i></i></a>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Salle</th>
                    <th scope="col">Ville</th>
                    <th scope="col">Détails</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for lieu in lieux %} 
                <tr>
                    <th>{{lieu.getName()}}</th>
                    <th>{{lieu.getSalle()}}</th>
                    <th>{{lieu.getVille()}}</th>
                    <th><a href="/lieux/show/{{lieu.getId()}}"><i class="fa-solid fa-eye"></i></i></a></th>
               </tr> {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}

