{% extends 'base.html.twig' %}

{% block title %}Liste des Lieux{% endblock %}

{% block body %}
   <div class="container-fluid">
        <div class="corps mx-auto">
            <p class="table"> Catalogue</p>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">nom</th>
                    <th scope="col">ville</th>
                    <th scope="col">Voir plus</th>
                    
                 </tr>
                </thead>

                <tbody>
                {% for lieu in lieux %} 
                <tr>
                    <th>{{lieu.getName()}}</th>
                    <th>{{lieu.getVille()}}</th>
                    <th><a href="/lieux/show/{{lieu.id}}"><i class="fa-solid fa-eye"></i></i></a></th>
               </tr> {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
