{% extends 'base_user.html.twig' %}

{% block title %}Liste Services{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div style = "margin-left: auto ; margin-right: auto ; max-width : 900px;">
            <p class="display-6 no-wrap text-center">Liste des services
                    <a href="/service/new"><i class="fa-solid fa-plus align-right"></i></a>
            </p>
            <form action="{{ path('service_showAll') }}" method="post">
                <p class="text-center">
                    <input type="text" id="name" name="name" placeholder="name"/>
                    <button class="btn btn-primary" type="submit" >Rechercher</button>
                </p>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Amount TTC</th>
                        <th scope="col">Détails</th>
                    </tr>
                </thead>
                <tbody>
                {% for service in services %} 
                    <tr> 
                        <td>{{service.getName()}}</td>   
                        <td>{{service.getAmountTtc()}}€</td>
                        <td><a href="/service/show/{{service.getId()}}"><i class="fa-solid fa-eye"></i></a></td> 
                     </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}
